### Doctor rostering ###
This purpose of this app is to automatically assign OFM shifts to doctors presented at hospital during that month.
(OFM stands for occupational-family-medicine). The OFM shifts are between 8:30-16:30, every weekday except for Tuesday.

In [1]:
#1. Get the dates of every weekdays of that month accordingly - assign it to a dictionary *weekday_date*
#2. Create a list with all the dates of that month - *all_dates*

In [1]:
from datetime import date, timedelta
import pandas as pd
import numpy as np

weekday_dict = {0:'monday', 1:'tuesday', 2:'wednesday', 3:'thursday', 4:'friday', 5:'saturday', 6:'sunday'}
weekday_date = {weekday:[] for weekday in weekday_dict.values()}

def get_dates (year, month):
    d = date(year, month, 1) #1 = first day of the month, do not change
    while d.month == month:
        day_of_week = weekday_dict[d.weekday()]
        weekday_date[day_of_week].append(d)
        d += timedelta(days = 1)
    return weekday_date

weekday_date = get_dates(2020,6)


all_dates = []
for week_dates in weekday_date.values():
    all_dates = all_dates + [i for i in week_dates]
all_dates.sort()

In [2]:
weekday_date

{'monday': [datetime.date(2020, 6, 1),
  datetime.date(2020, 6, 8),
  datetime.date(2020, 6, 15),
  datetime.date(2020, 6, 22),
  datetime.date(2020, 6, 29)],
 'tuesday': [datetime.date(2020, 6, 2),
  datetime.date(2020, 6, 9),
  datetime.date(2020, 6, 16),
  datetime.date(2020, 6, 23),
  datetime.date(2020, 6, 30)],
 'wednesday': [datetime.date(2020, 6, 3),
  datetime.date(2020, 6, 10),
  datetime.date(2020, 6, 17),
  datetime.date(2020, 6, 24)],
 'thursday': [datetime.date(2020, 6, 4),
  datetime.date(2020, 6, 11),
  datetime.date(2020, 6, 18),
  datetime.date(2020, 6, 25)],
 'friday': [datetime.date(2020, 6, 5),
  datetime.date(2020, 6, 12),
  datetime.date(2020, 6, 19),
  datetime.date(2020, 6, 26)],
 'saturday': [datetime.date(2020, 6, 6),
  datetime.date(2020, 6, 13),
  datetime.date(2020, 6, 20),
  datetime.date(2020, 6, 27)],
 'sunday': [datetime.date(2020, 6, 7),
  datetime.date(2020, 6, 14),
  datetime.date(2020, 6, 21),
  datetime.date(2020, 6, 28)]}

In [3]:
all_dates

[datetime.date(2020, 6, 1),
 datetime.date(2020, 6, 2),
 datetime.date(2020, 6, 3),
 datetime.date(2020, 6, 4),
 datetime.date(2020, 6, 5),
 datetime.date(2020, 6, 6),
 datetime.date(2020, 6, 7),
 datetime.date(2020, 6, 8),
 datetime.date(2020, 6, 9),
 datetime.date(2020, 6, 10),
 datetime.date(2020, 6, 11),
 datetime.date(2020, 6, 12),
 datetime.date(2020, 6, 13),
 datetime.date(2020, 6, 14),
 datetime.date(2020, 6, 15),
 datetime.date(2020, 6, 16),
 datetime.date(2020, 6, 17),
 datetime.date(2020, 6, 18),
 datetime.date(2020, 6, 19),
 datetime.date(2020, 6, 20),
 datetime.date(2020, 6, 21),
 datetime.date(2020, 6, 22),
 datetime.date(2020, 6, 23),
 datetime.date(2020, 6, 24),
 datetime.date(2020, 6, 25),
 datetime.date(2020, 6, 26),
 datetime.date(2020, 6, 27),
 datetime.date(2020, 6, 28),
 datetime.date(2020, 6, 29),
 datetime.date(2020, 6, 30)]

In [4]:
# create date object for the holidays we which to exclude

In [5]:
holidays = []
def create_holidays(year, month, day):
    d = date(year, month, day)
    holidays.append(d)
    return holidays

create_holidays(2020,6,3)
create_holidays(2020,6,7)
create_holidays(2020,6,20)

print(holidays)

[datetime.date(2020, 6, 3), datetime.date(2020, 6, 7), datetime.date(2020, 6, 20)]

In [6]:
# remove the holidays and unwanted weekdays

In [7]:
def remove_dates(all_dates, unwanted_weekdays, holidays): #unwanted = list-of-list of unwanted weekdays
#     OFM = all_dates- sundays - saturdays - tuesdays 
    OFM = all_dates
    for weekday in unwanted_weekdays:
        OFM = [date for date in OFM if date not in weekday_date[weekday]]
    OFM = [date for date in OFM if date not in holidays]
    return OFM

unwanted_weekdays = ['sunday','saturday','tuesday']
OFM_dates = remove_dates(all_dates, unwanted_weekdays, holidays)
print('The OFM dates are:')
OFM_dates

The OFM dates are:

[datetime.date(2020, 6, 1),
 datetime.date(2020, 6, 4),
 datetime.date(2020, 6, 5),
 datetime.date(2020, 6, 8),
 datetime.date(2020, 6, 10),
 datetime.date(2020, 6, 11),
 datetime.date(2020, 6, 12),
 datetime.date(2020, 6, 15),
 datetime.date(2020, 6, 17),
 datetime.date(2020, 6, 18),
 datetime.date(2020, 6, 19),
 datetime.date(2020, 6, 22),
 datetime.date(2020, 6, 24),
 datetime.date(2020, 6, 25),
 datetime.date(2020, 6, 26),
 datetime.date(2020, 6, 29)]

### Get the list of intern doctors' names
The names are stored in a csv file(exported from Excel)

In [8]:
opened_file = open('Book1.csv')
import pandas as pd 
read_file = pd.read_csv("Book1.csv", encoding = 'utf-8' )
data = read_file.iloc[:,0:2]

data

                     Name     Fix
0          Int3 ภาณุวัฒน์     Med
1               Int1 ชลกร     Med
2               Int1 วรธน     Med
3             Int1 ก้องภพ     Med
4              Int1 ยุตล์     Med
5            Int1 เภาลีนา     Med
6          Int1 วัชราภรณ์     Med
7           Int1 ภัทร์นฤน     Med
8              Int1 ณัฐฌา     Med
9              Int1 ชิชญา     Med
10            Int2 ณัฐชัย      Sx
11             Int1 พิชญา      Sx
12         Int1 วชิรภัทร์      Sx
13      Int1 เฉลิมเกียรติ      Sx
14            Int1 วรัญญา      Sx
15             Int3 ภาสกร   Ortho
16          Int2 ปารินทร์   Ortho
17             Int1 กมลนพ   Ortho
18           Int1 นพรัตน์   Ortho
19           Int3 เอนกโชค     Ped
20             Int3 ณัชชา     Ped
21            Int2 ชญานิศ     Ped
22              Int2 นภสร     Ped
23          Int2 ณิชารีย์     Ped
24            Int2 ปภาวดี     Ped
25             Int1 กฤตพร     Ped
26             Int1 ณภัทร     Ped
27          Int1 แพรววนิต     Ped
28         Int1 วัณย์วรยา     Ped
29          Int1 ชญากาณฑ์     Ped
30           Int1 ณิชญาดา     Ped
31            Int3 นัทธมน     Eye
32          Int3 ณัฐภัสสร     Eye
33           Int2 พิชชาภา     Eye
34           Int1 วีรภัทร     Eye
35           Int2 สรศักย์     ENT
36         Int2 ศุภาพิชญ์     ENT
37           Int1 นวลพรรณ     ENT
38             Int1 ศศิชา     ENT
39            Int1 จิดาภา    Anes
40  Int1 วิจิตรกานต์พัฒนา    Anes
41           Int1 พิชชาพร  OB-GYN
42           Int1 สิรินญา  OB-GYN
43          Int3 บุญฤทธิ์   X-ray
44          Int3 พุฒิพงศ์   X-ray
45            Int2 อภิชญา   Rehab
46           Int1 เจษฎากร   Rehab
47           Int1 ปุณยนุช  Psychi
48            Int1 นิสากร  Psychi

The names looked like this : 
>Int3 ภาณุวัฒน์, Med

So we need to separate the year indicator (Int3 indicates intern year 3) from the name.

In [26]:
year_list = []
name_list = []
index_list = list(range(len(read_file)))
# splitting int from name
for i in read_file.iloc[:,0]:
    year,name = i.split()
    name = name.replace(' ','')
    year_list.append(year)
    name_list.append(name)
    
    
# create a pd with intern year as column and insert it back as first column in the main file (df)
df = {'Year': year_list,
      'Name':name_list} 
df = pd.DataFrame(df) 
df.insert(2, 'Fix', data['Fix'], True) 

df

    Year              Name     Fix
0   Int3         ภาณุวัฒน์     Med
1   Int1              ชลกร     Med
2   Int1              วรธน     Med
3   Int1            ก้องภพ     Med
4   Int1             ยุตล์     Med
5   Int1           เภาลีนา     Med
6   Int1         วัชราภรณ์     Med
7   Int1          ภัทร์นฤน     Med
8   Int1             ณัฐฌา     Med
9   Int1             ชิชญา     Med
10  Int2            ณัฐชัย      Sx
11  Int1             พิชญา      Sx
12  Int1         วชิรภัทร์      Sx
13  Int1      เฉลิมเกียรติ      Sx
14  Int1            วรัญญา      Sx
15  Int3             ภาสกร   Ortho
16  Int2          ปารินทร์   Ortho
17  Int1             กมลนพ   Ortho
18  Int1           นพรัตน์   Ortho
19  Int3           เอนกโชค     Ped
20  Int3             ณัชชา     Ped
21  Int2            ชญานิศ     Ped
22  Int2              นภสร     Ped
23  Int2          ณิชารีย์     Ped
24  Int2            ปภาวดี     Ped
25  Int1             กฤตพร     Ped
26  Int1             ณภัทร     Ped
27  Int1          แพรววนิต     Ped
28  Int1         วัณย์วรยา     Ped
29  Int1          ชญากาณฑ์     Ped
30  Int1           ณิชญาดา     Ped
31  Int3            นัทธมน     Eye
32  Int3          ณัฐภัสสร     Eye
33  Int2           พิชชาภา     Eye
34  Int1           วีรภัทร     Eye
35  Int2           สรศักย์     ENT
36  Int2         ศุภาพิชญ์     ENT
37  Int1           นวลพรรณ     ENT
38  Int1             ศศิชา     ENT
39  Int1            จิดาภา    Anes
40  Int1  วิจิตรกานต์พัฒนา    Anes
41  Int1           พิชชาพร  OB-GYN
42  Int1           สิรินญา  OB-GYN
43  Int3          บุญฤทธิ์   X-ray
44  Int3          พุฒิพงศ์   X-ray
45  Int2            อภิชญา   Rehab
46  Int1           เจษฎากร   Rehab
47  Int1           ปุณยนุช  Psychi
48  Int1            นิสากร  Psychi

### Remove names

* Intern-1s aren't included in OFM shifts, so we need to remove them
* Remove resigned
* Remove those who are not present at the hospital for this month

In [27]:
# remove intern 1
df.drop(df[df.loc[:,'Year'] == 'Int1'].index, inplace = True)

# remove resigned and not present
resigned = ['ศุภาพิชญ์'] 
not_present = ['ณัฐชัย']

for name in (not_present + resigned):
    df.drop(df[df.loc[:,'Name'] == name].index, inplace = True)

df

    Year       Name    Fix
0   Int3  ภาณุวัฒน์    Med
15  Int3      ภาสกร  Ortho
16  Int2   ปารินทร์  Ortho
19  Int3    เอนกโชค    Ped
20  Int3      ณัชชา    Ped
21  Int2     ชญานิศ    Ped
22  Int2       นภสร    Ped
23  Int2   ณิชารีย์    Ped
24  Int2     ปภาวดี    Ped
31  Int3     นัทธมน    Eye
32  Int3   ณัฐภัสสร    Eye
33  Int2    พิชชาภา    Eye
35  Int2    สรศักย์    ENT
43  Int3   บุญฤทธิ์  X-ray
44  Int3   พุฒิพงศ์  X-ray
45  Int2     อภิชญา  Rehab

In [28]:
import ast

def try_open_saves(month, disable=True):
    global old_dict
    global updated_dict
    if disable == False:
        month_file = str(month).lower()+'_count.txt'
        print(month_file)
    elif disable == True:
        month_file = None
        
    try:
#     input old saves here
        f = open(month_file, 'r')
        old_dict = f.read()
        print(old_dict)
        f.close() 
    except:
        old_dict = '{}'
        print('No roster was made before, nothing to display - ยังไม่เคยมีการจัดเวรมาก่อน')
    
    if old_dict != '{}':
        print('previous data detected,.. retrieving data from save file \n เคยมีการจัดเวรมาก่อน เคยอยู่เวรมาแล้วกี่ครั้ง')
        updated_dict = ast.literal_eval(old_dict)
        for key in updated_dict:
            print('The number of shifts so far...{}..x..{}..times'.format(df[df.loc[:,'Name'] == key].Name, updated_dict[key]))

print('loading saves..')
try_open_saves('june')

loading saves..
No roster was made before, nothing to display - ยังไม่เคยมีการจัดเวรมาก่อน

In [30]:
# unavailable_for_subs - return False if randomized day = day of the week that is not available for that ward
# subs = Med, Rehab, X-ray, ENT, Eye, Ped, Ortho, Sx <-- case sensitive
# พรุ่งนี้มาแก้ให้ random ด้วยชื่อแทน index
# ใส่ timer

import random
count_dict= {}
day_name_dict = {}

class unavailable:
    def __init__(self, UA_input, weekday, df=df, weekday_date=weekday_date):
        # weekday could be str (eg.'monday') or be number (eg. 28)   
        if type(weekday) == str: 
            self.dates = [i.day for i in weekday_date[weekday]]
        else:
            self.dates = weekday
            
        # UA_input could be  (subspecialty ('Fix')) or list of names
        if UA_input in df.loc[:,'Fix'].unique():
            self.names = [i for i in df[df.loc[:,'Fix'] == UA_input].Name]
        elif UA_input in df.loc[:,'Name'].unique():
            self.names = UA_input
            
        self.df = df
        self.weekday_date = weekday_date
        print ('The unavailable dates for {} are day {}'.format(self.names, self.dates))
                
    def UA_bool(self, random_date, random_winner):
        if (random_winner in self.names) and (random_date in self.dates):
            return False
        else:
            return True
        
print('checking unavailable dates...')       
ENT = unavailable('ENT','thursday')
Panuwat = unavailable(['ภาณุวัฒน์'],[24])                                                                       

# start randomization

print('\nInitiating randomization..\n')
print('\nเวร OFM เดือนมิถุนายน\n')

while len(day_name_dict) < len(OFM_dates):
    for date in OFM_dates:
        if (date.day not in day_name_dict.keys()):
            random_winner = random.choice(df.loc[:,'Name'].values)
            if (random_winner not in day_name_dict.values()) \
            and ENT.UA_bool(date.day,random_winner) \
            and Panuwat.UA_bool(date.day,random_winner):
                day_name_dict[date.day] = random_winner
                count_dict[random_winner] = 1


# sort dictionary using ordered dict, and sort by key (t[0]) -- when assessing duplicates- sort by val (t[1])
import collections
day_name_dict = collections.OrderedDict(sorted(day_name_dict.items(), key=lambda t: t[0]))

winners = df[df['Name'].isin(day_name_dict.values())]
winners['Day'] = day_name_dict 
winners.sort_values('Day')
# removed 'Index' and bring "Day" to first front
winners = winners[["Day", "Year", "Name", "Fix" ]]
winners

checking unavailable dates...
The unavailable dates for ['สรศักย์'] are day [4, 11, 18, 25]
The unavailable dates for ['ภาณุวัฒน์'] are day [24]

Initiating randomization..


เวร OFM เดือนมิถุนายน

    Day  Year       Name    Fix
0     1  Int3  ภาณุวัฒน์    Med
15    4  Int3      ภาสกร  Ortho
16    5  Int2   ปารินทร์  Ortho
19    8  Int3    เอนกโชค    Ped
20   10  Int3      ณัชชา    Ped
21   11  Int2     ชญานิศ    Ped
22   12  Int2       นภสร    Ped
23   15  Int2   ณิชารีย์    Ped
24   17  Int2     ปภาวดี    Ped
31   18  Int3     นัทธมน    Eye
32   19  Int3   ณัฐภัสสร    Eye
33   22  Int2    พิชชาภา    Eye
35   24  Int2    สรศักย์    ENT
43   25  Int3   บุญฤทธิ์  X-ray
44   26  Int3   พุฒิพงศ์  X-ray
45   29  Int2     อภิชญา  Rehab

In [31]:
# update the current dict
print('\n updating updated_dict \n')
if old_dict != '{}':
    print("old_dic")
    for i in count_dict:
        if i in updated_dict:
            updated_dict[i]+= 1
        else:
            updated_dict[i] = 1
    print(updated_dict)    
elif old_dict == '{}':
    updated_dict = count_dict

#  print the counting in updated dict
for key in updated_dict:
    year = df[df.loc[:,'Name'] == key].Year.values
    print('The number of shifts so far..{} {}..x..{}..times'.format(year,df[df.loc[:,'Name'] == key].Name.values, updated_dict[key]))

 updating updated_dict

The number of shifts so far..['Int3'] ['บุญฤทธิ์']..x..1..times
The number of shifts so far..['Int3'] ['ภาสกร']..x..1..times
The number of shifts so far..['Int3'] ['เอนกโชค']..x..1..times
The number of shifts so far..['Int2'] ['สรศักย์']..x..1..times
The number of shifts so far..['Int2'] ['อภิชญา']..x..1..times
The number of shifts so far..['Int3'] ['ณัชชา']..x..1..times
The number of shifts so far..['Int2'] ['ณิชารีย์']..x..1..times
The number of shifts so far..['Int3'] ['ณัฐภัสสร']..x..1..times
The number of shifts so far..['Int2'] ['นภสร']..x..1..times
The number of shifts so far..['Int2'] ['พิชชาภา']..x..1..times
The number of shifts so far..['Int2'] ['ปารินทร์']..x..1..times
The number of shifts so far..['Int3'] ['นัทธมน']..x..1..times
The number of shifts so far..['Int2'] ['ปภาวดี']..x..1..times
The number of shifts so far..['Int3'] ['พุฒิพงศ์']..x..1..times
The number of shifts so far..['Int2'] ['ชญานิศ']..x..1..times
The number of shifts so far..['Int3'] ['ภาณุวัฒน์']..x..1..times

In [24]:
# #  define function to save the current dict (accept string)
# มาแก้
# def save_to_new_file(file_name, dict):
# #  x mode = create only, if file already exist -- will return error
#     print('saving dict to new file : {}'.format(file_name))
#     try:
#         file = open(file_name, "x") 
#         file.write("{}".format(dict)) 
#         file.close() 
#         print('succesfully saved to {}'.format(file_name))
#     except:
#         print("File already existed")     

# rewrite_safe_guard_off = False

# def rewrite_file(file_name, dict):
#     if rewrite_safe_guard_off:
#         f = open(file_name, 'r+')
#         f.read()
#         f.seek(0)
#         f.truncate()
#         f.write('{}'.format(dict))
#         f.close()
#         return 'succesfully rewrite file {}'.format(file_name)
#     else: 
#         return 'rewrite_safe_guard_on'
    
# def read_counting(file_name):            
#     b = open(file_name, 'r')
#     a = b.read()
#     file = ast.literal_eval(a)

#     for key in file:
#         print('The number of shifts so far...{} {}..x..{}..times'.format(index_to_year[key],index_to_name[key], file[key]))
        
# def read_date(file_name):
#     b = open(file_name,'r')
#     a = b.read()
#     b.close
#     file = ast.literal_eval(a)

#     for key in file:
#         year = index_to_year[file[key]]
#         print('Day..{}..:..{} {}'.format(key,year ,index_to_name[file[key]]))

In [117]:
# save to 2 files(date and counting), start by rewriting then save to new file -- input = str(month)
# day_name_dict is currently orderred dict -> Change back to normal dict- else not readable
def save_file(month):
    date_file = str(month).lower() + '_date.txt'
    counting_file = str(month).lower() + '_counting.txt'
    try: 
        print('try rewriting {}'.format(date_file))
        rewrite_file(date_file, dict(day_name_dict))
        print('success')
    except: 
        print('failed rewriting {}, try saving to new file'.format(date_file))
        save_to_new_file(date_file, dict(day_name_dict))
        print('success')
        
    try: 
        print('try rewriting {}'.format(counting_file))
        rewrite_file(counting_file, updated_dict)
        print('success')
    except: 
        print('failed rewriting {}, try saving to new file'.format(counting_file))
        save_to_new_file(counting_file, updated_dict)
        print('success')

#Read files both the counting and dates -- just enter the month
def read_file(month):
    date_file = str(month).lower() + '_date.txt'
    counting_file = str(month).lower() + '_counting.txt'
    print('\n reading {} \n'.format(date_file))
    read_date(date_file)
    print('\n reading {} \n'.format(counting_file))
    read_counting(counting_file)

# save_file('june')
# read_file('june')

In [118]:
# Delete all data!
delete_safe_guard_off = False
def delete_all(file_name):
    if delete_safe_guard_off:
        f = open(file_name, 'r+')
        f.read()
        f.seek(0)
        f.truncate()
        f.write('{}'.format({}))
        f.close()
        a = open(file_name).read()
        print('deleted data in {}'.format(file_name))
    else: print('delete_safe_guard_on or file did not exist')
        
delete_all('june_counting.txt')
delete_all('june_date.txt')

delete_safe_guard_on or file did not exist
delete_safe_guard_on or file did not exist