### Doctor's duty roster###
This purpose of this app is to automatically assign OFM shifts to doctors presented at hospital during that month.
(OFM stands for occupational-family-medicine). The OFM shifts are between 8:30-16:30, every weekday except for Tuesday.

In [1]:
#1. Get the dates of every weekdays of that month accordingly - assign it to a dictionary *weekday_date*
#2. Create a list with all the dates of that month - *all_dates*

In [2]:
from datetime import date, timedelta
import pandas as pd
import numpy as np

weekday_dict = {0:'monday', 1:'tuesday', 2:'wednesday', 3:'thursday', 4:'friday', 5:'saturday', 6:'sunday'}
weekday_date = {weekday:[] for weekday in weekday_dict.values()}

def get_dates (year, month):
    d = date(year, month, 1) #1 = first day of the month, do not change
    while d.month == month:
        day_of_week = weekday_dict[d.weekday()]
        weekday_date[day_of_week].append(d)
        d += timedelta(days = 1)
    return weekday_date

weekday_date = get_dates(2020,6)


all_dates = []
for week_dates in weekday_date.values():
    all_dates = all_dates + [i for i in week_dates]
all_dates.sort()

In [3]:
weekday_date

{'monday': [datetime.date(2020, 6, 1),
  datetime.date(2020, 6, 8),
  datetime.date(2020, 6, 15),
  datetime.date(2020, 6, 22),
  datetime.date(2020, 6, 29)],
 'tuesday': [datetime.date(2020, 6, 2),
  datetime.date(2020, 6, 9),
  datetime.date(2020, 6, 16),
  datetime.date(2020, 6, 23),
  datetime.date(2020, 6, 30)],
 'wednesday': [datetime.date(2020, 6, 3),
  datetime.date(2020, 6, 10),
  datetime.date(2020, 6, 17),
  datetime.date(2020, 6, 24)],
 'thursday': [datetime.date(2020, 6, 4),
  datetime.date(2020, 6, 11),
  datetime.date(2020, 6, 18),
  datetime.date(2020, 6, 25)],
 'friday': [datetime.date(2020, 6, 5),
  datetime.date(2020, 6, 12),
  datetime.date(2020, 6, 19),
  datetime.date(2020, 6, 26)],
 'saturday': [datetime.date(2020, 6, 6),
  datetime.date(2020, 6, 13),
  datetime.date(2020, 6, 20),
  datetime.date(2020, 6, 27)],
 'sunday': [datetime.date(2020, 6, 7),
  datetime.date(2020, 6, 14),
  datetime.date(2020, 6, 21),
  datetime.date(2020, 6, 28)]}

In [4]:
all_dates

[datetime.date(2020, 6, 1),
 datetime.date(2020, 6, 2),
 datetime.date(2020, 6, 3),
 datetime.date(2020, 6, 4),
 datetime.date(2020, 6, 5),
 datetime.date(2020, 6, 6),
 datetime.date(2020, 6, 7),
 datetime.date(2020, 6, 8),
 datetime.date(2020, 6, 9),
 datetime.date(2020, 6, 10),
 datetime.date(2020, 6, 11),
 datetime.date(2020, 6, 12),
 datetime.date(2020, 6, 13),
 datetime.date(2020, 6, 14),
 datetime.date(2020, 6, 15),
 datetime.date(2020, 6, 16),
 datetime.date(2020, 6, 17),
 datetime.date(2020, 6, 18),
 datetime.date(2020, 6, 19),
 datetime.date(2020, 6, 20),
 datetime.date(2020, 6, 21),
 datetime.date(2020, 6, 22),
 datetime.date(2020, 6, 23),
 datetime.date(2020, 6, 24),
 datetime.date(2020, 6, 25),
 datetime.date(2020, 6, 26),
 datetime.date(2020, 6, 27),
 datetime.date(2020, 6, 28),
 datetime.date(2020, 6, 29),
 datetime.date(2020, 6, 30)]

In [5]:
# create date object for the holidays we wish to exclude

In [6]:
holidays = []
def create_holidays(year, month, day):
    d = date(year, month, day)
    holidays.append(d)
    return holidays

create_holidays(2020,6,3)
create_holidays(2020,6,7)
create_holidays(2020,6,20)

print(holidays)

[datetime.date(2020, 6, 3), datetime.date(2020, 6, 7), datetime.date(2020, 6, 20)]

In [7]:
# remove the holidays and unwanted weekdays

In [8]:
def remove_dates(all_dates, unwanted_weekdays, holidays): #unwanted = list-of-list of unwanted weekdays
#     OFM = all_dates- sundays - saturdays - tuesdays 
    OFM = all_dates
    for weekday in unwanted_weekdays:
        OFM = [date for date in OFM if date not in weekday_date[weekday]]
    OFM = [date for date in OFM if date not in holidays]
    return OFM

unwanted_weekdays = ['sunday','saturday','tuesday']
OFM_dates = remove_dates(all_dates, unwanted_weekdays, holidays)
print('The OFM dates are:')
OFM_dates

The OFM dates are:

[datetime.date(2020, 6, 1),
 datetime.date(2020, 6, 4),
 datetime.date(2020, 6, 5),
 datetime.date(2020, 6, 8),
 datetime.date(2020, 6, 10),
 datetime.date(2020, 6, 11),
 datetime.date(2020, 6, 12),
 datetime.date(2020, 6, 15),
 datetime.date(2020, 6, 17),
 datetime.date(2020, 6, 18),
 datetime.date(2020, 6, 19),
 datetime.date(2020, 6, 22),
 datetime.date(2020, 6, 24),
 datetime.date(2020, 6, 25),
 datetime.date(2020, 6, 26),
 datetime.date(2020, 6, 29)]

### Get the list of intern doctors' names
The names are stored in a csv file(exported from Excel)

In [102]:
opened_file = open('Book1.csv')
import pandas as pd 
read_file = pd.read_csv("Book1.csv", encoding = 'utf-8' )
data = read_file.iloc[:,0:2]

data

                     Name     Fix
0          Int3 ภาณุวัฒน์     Med
1               Int1 ชลกร     Med
2               Int1 วรธน     Med
3             Int1 ก้องภพ     Med
4              Int1 ยุตล์     Med
5            Int1 เภาลีนา     Med
6          Int1 วัชราภรณ์     Med
7           Int1 ภัทร์นฤน     Med
8              Int1 ณัฐฌา     Med
9              Int1 ชิชญา     Med
10            Int2 ณัฐชัย      Sx
11             Int1 พิชญา      Sx
12         Int1 วชิรภัทร์      Sx
13      Int1 เฉลิมเกียรติ      Sx
14            Int1 วรัญญา      Sx
15             Int3 ภาสกร   Ortho
16          Int2 ปารินทร์   Ortho
17             Int1 กมลนพ   Ortho
18           Int1 นพรัตน์   Ortho
19           Int3 เอนกโชค     Ped
20             Int3 ณัชชา     Ped
21            Int2 ชญานิศ     Ped
22              Int2 นภสร     Ped
23          Int2 ณิชารีย์     Ped
24            Int2 ปภาวดี     Ped
25             Int1 กฤตพร     Ped
26             Int1 ณภัทร     Ped
27          Int1 แพรววนิต     Ped
28         Int1 วัณย์วรยา     Ped
29          Int1 ชญากาณฑ์     Ped
30           Int1 ณิชญาดา     Ped
31            Int3 นัทธมน     Eye
32          Int3 ณัฐภัสสร     Eye
33           Int2 พิชชาภา     Eye
34           Int1 วีรภัทร     Eye
35           Int2 สรศักย์     ENT
36         Int2 ศุภาพิชญ์     ENT
37           Int1 นวลพรรณ     ENT
38             Int1 ศศิชา     ENT
39            Int1 จิดาภา    Anes
40  Int1 วิจิตรกานต์พัฒนา    Anes
41           Int1 พิชชาพร  OB-GYN
42           Int1 สิรินญา  OB-GYN
43          Int3 บุญฤทธิ์   X-ray
44          Int3 พุฒิพงศ์   X-ray
45            Int2 อภิชญา   Rehab
46           Int1 เจษฎากร   Rehab
47           Int1 ปุณยนุช  Psychi
48            Int1 นิสากร  Psychi

The names looked like this : 
>Int3 ภาณุวัฒน์, Med

So we need to separate the year indicator (Int3 indicates intern year 3) from the name.

In [103]:
year_list = []
name_list = []
index_list = list(range(len(data)))
# splitting int from name
for i in read_file.iloc[:,0]:
    year,name = i.split()
    name = name.replace(' ','')
    year_list.append(year)
    name_list.append(name)
    
    
# create a pd with intern year as column and insert it back as first column in the main file (df)
df = {'Index': index_list,
      'Year': year_list,
      'Name':name_list} 
df = pd.DataFrame(df) 
df.insert(2, 'Fix', data['Fix'], True) 

df

    Index  Year     Fix              Name
0       0  Int3     Med         ภาณุวัฒน์
1       1  Int1     Med              ชลกร
2       2  Int1     Med              วรธน
3       3  Int1     Med            ก้องภพ
4       4  Int1     Med             ยุตล์
5       5  Int1     Med           เภาลีนา
6       6  Int1     Med         วัชราภรณ์
7       7  Int1     Med          ภัทร์นฤน
8       8  Int1     Med             ณัฐฌา
9       9  Int1     Med             ชิชญา
10     10  Int2      Sx            ณัฐชัย
11     11  Int1      Sx             พิชญา
12     12  Int1      Sx         วชิรภัทร์
13     13  Int1      Sx      เฉลิมเกียรติ
14     14  Int1      Sx            วรัญญา
15     15  Int3   Ortho             ภาสกร
16     16  Int2   Ortho          ปารินทร์
17     17  Int1   Ortho             กมลนพ
18     18  Int1   Ortho           นพรัตน์
19     19  Int3     Ped           เอนกโชค
20     20  Int3     Ped             ณัชชา
21     21  Int2     Ped            ชญานิศ
22     22  Int2     Ped              นภสร
23     23  Int2     Ped          ณิชารีย์
24     24  Int2     Ped            ปภาวดี
25     25  Int1     Ped             กฤตพร
26     26  Int1     Ped             ณภัทร
27     27  Int1     Ped          แพรววนิต
28     28  Int1     Ped         วัณย์วรยา
29     29  Int1     Ped          ชญากาณฑ์
30     30  Int1     Ped           ณิชญาดา
31     31  Int3     Eye            นัทธมน
32     32  Int3     Eye          ณัฐภัสสร
33     33  Int2     Eye           พิชชาภา
34     34  Int1     Eye           วีรภัทร
35     35  Int2     ENT           สรศักย์
36     36  Int2     ENT         ศุภาพิชญ์
37     37  Int1     ENT           นวลพรรณ
38     38  Int1     ENT             ศศิชา
39     39  Int1    Anes            จิดาภา
40     40  Int1    Anes  วิจิตรกานต์พัฒนา
41     41  Int1  OB-GYN           พิชชาพร
42     42  Int1  OB-GYN           สิรินญา
43     43  Int3   X-ray          บุญฤทธิ์
44     44  Int3   X-ray          พุฒิพงศ์
45     45  Int2   Rehab            อภิชญา
46     46  Int1   Rehab           เจษฎากร
47     47  Int1  Psychi           ปุณยนุช
48     48  Int1  Psychi            นิสากร

In [104]:
# Create dictionary for later use
index_to_name = {i:n for i,n in enumerate(df['Name'])}
index_to_name

{0: 'ภาณุวัฒน์',
 1: 'ชลกร',
 2: 'วรธน',
 3: 'ก้องภพ',
 4: 'ยุตล์',
 5: 'เภาลีนา',
 6: 'วัชราภรณ์',
 7: 'ภัทร์นฤน',
 8: 'ณัฐฌา',
 9: 'ชิชญา',
 10: 'ณัฐชัย',
 11: 'พิชญา',
 12: 'วชิรภัทร์',
 13: 'เฉลิมเกียรติ',
 14: 'วรัญญา',
 15: 'ภาสกร',
 16: 'ปารินทร์',
 17: 'กมลนพ',
 18: 'นพรัตน์',
 19: 'เอนกโชค',
 20: 'ณัชชา',
 21: 'ชญานิศ',
 22: 'นภสร',
 23: 'ณิชารีย์',
 24: 'ปภาวดี',
 25: 'กฤตพร',
 26: 'ณภัทร',
 27: 'แพรววนิต',
 28: 'วัณย์วรยา',
 29: 'ชญากาณฑ์',
 30: 'ณิชญาดา',
 31: 'นัทธมน',
 32: 'ณัฐภัสสร',
 33: 'พิชชาภา',
 34: 'วีรภัทร',
 35: 'สรศักย์',
 36: 'ศุภาพิชญ์',
 37: 'นวลพรรณ',
 38: 'ศศิชา',
 39: 'จิดาภา',
 40: 'วิจิตรกานต์พัฒนา',
 41: 'พิชชาพร',
 42: 'สิรินญา',
 43: 'บุญฤทธิ์',
 44: 'พุฒิพงศ์',
 45: 'อภิชญา',
 46: 'เจษฎากร',
 47: 'ปุณยนุช',
 48: 'นิสากร'}

### Remove names

* Intern-1s aren't included in OFM shifts, so we need to remove them
* Remove resigned
* Remove those who are not present at the hospital for this month

In [42]:
# remove intern 1
df.drop(df[df.loc[:,'Year'] == 'Int1'].index, inplace = True)

# remove resigned and not present
resigned = ['ศุภาพิชญ์'] 
not_present = []

for name in (not_present + resigned):
    df.drop(df[df.loc[:,'Name'] == name].index, inplace = True)

df

    Index  Year    Fix       Name
0       0  Int3    Med  ภาณุวัฒน์
15     15  Int3  Ortho      ภาสกร
16     16  Int2  Ortho   ปารินทร์
19     19  Int3    Ped    เอนกโชค
20     20  Int3    Ped      ณัชชา
21     21  Int2    Ped     ชญานิศ
22     22  Int2    Ped       นภสร
23     23  Int2    Ped   ณิชารีย์
24     24  Int2    Ped     ปภาวดี
31     31  Int3    Eye     นัทธมน
32     32  Int3    Eye   ณัฐภัสสร
33     33  Int2    Eye    พิชชาภา
35     35  Int2    ENT    สรศักย์
43     43  Int3  X-ray   บุญฤทธิ์
44     44  Int3  X-ray   พุฒิพงศ์
45     45  Int2  Rehab     อภิชญา

In [196]:
import ast

def try_open_saves(month):
    month_file = str(month).lower()+'_count'
    print('searching for',month_file,'..retrieving data..','\n')
        
    try:
        with open(month_file, 'rb') as f:
            old_dict = pickle.load(f)   
            for key in old_dict:
                print('The number of shifts so far...{}..x..{}..times'.format(key, old_dict[key]))
    except:
        old_dict = '{}'
        print('No roster was made before, nothing to display - ยังไม่เคยมีการจัดเวรมาก่อน')
    return old_dict

print('loading saves..')
old_dict = try_open_saves('june')

loading saves..
searching for june_count ..retrieving data..

The number of shifts so far...นภสร..x..1..times
The number of shifts so far...พิชชาภา..x..1..times
The number of shifts so far...ชญานิศ..x..1..times
The number of shifts so far...สรศักย์..x..1..times
The number of shifts so far...อภิชญา..x..1..times
The number of shifts so far...ณัฐชัย..x..1..times
The number of shifts so far...ณิชารีย์..x..1..times
The number of shifts so far...ภาสกร..x..1..times
The number of shifts so far...บุญฤทธิ์..x..1..times
The number of shifts so far...ภาณุวัฒน์..x..1..times
The number of shifts so far...ณัชชา..x..1..times
The number of shifts so far...นัทธมน..x..1..times
The number of shifts so far...ณัฐภัสสร..x..1..times
The number of shifts so far...เอนกโชค..x..1..times
The number of shifts so far...ปภาวดี..x..1..times
The number of shifts so far...ปารินทร์..x..1..times

In [63]:
# subs = Med, Rehab, X-ray, ENT, Eye, Ped, Ortho, Sx <-- case sensitive
# plan ใส่ color coded day

import time
import sys
import random
count_dict= {}
day_name_dict = {}

class unavailable:
    def __init__(self, UA_input, weekday, df=df, weekday_date=weekday_date):
        # weekday could be str (eg.'monday') or be integer (eg. 28)   
        if type(weekday) == str: 
            self.dates = [i.day for i in weekday_date[weekday]]
        else:
            self.dates = weekday
            
        # UA_input could be  (subspecialty ('Fix')) or list of names
        if UA_input in df.loc[:,'Fix'].unique():
            self.names = [i for i in df[df.loc[:,'Fix'] == UA_input].Name]
        elif UA_input in df.loc[:,'Name'].unique():
            self.names = UA_input
            
        self.df = df
        self.weekday_date = weekday_date
        print ('The unavailable dates for {} are day {}'.format(self.names, self.dates))
                
    def UA_bool(self, random_date, random_winner):
        if (random_winner in self.names) and (random_date in self.dates):
            return False
        else:
            return True
        
print('checking unavailable dates...')       
ENT = unavailable('ENT','thursday')
Panuwat = unavailable(['ภาณุวัฒน์'],[24])                                                                       

# start randomization

print('\nInitiating randomization..\n')
print('\nเวร OFM เดือนมิถุนายน\n')

start_time = time.time()
seconds = 0
while len(day_name_dict) < len(OFM_dates):
    for date in OFM_dates:
        if (date.day not in day_name_dict.keys()):
            random_winner = random.choice(df.loc[:,'Name'].values)
            current_time = time.time()
            elapsed_time = current_time - start_time
            if (random_winner not in day_name_dict.values()) \
            and ENT.UA_bool(date.day,random_winner) \
            and Panuwat.UA_bool(date.day,random_winner):
                day_name_dict[date.day] = random_winner
                count_dict[random_winner] = 1
            elif elapsed_time > 4:
                sys.exit('elapsed time exceeded 4 seconds, please run the code again')

# sort dictionary using ordered dict, and sort by key (t[0])
import collections
day_name_dict = collections.OrderedDict(sorted(day_name_dict.items(), key=lambda t: t[0]))

winners = df[df['Name'].isin(day_name_dict.values())]
winners['Day'] = day_name_dict 
winners.sort_values('Day')
# removed 'Index' and bring "Day" to first front
winners = winners[["Day", "Year", "Name", "Fix" ]]
winners

checking unavailable dates...
The unavailable dates for ['สรศักย์'] are day [4, 11, 18, 25]
The unavailable dates for ['ภาณุวัฒน์'] are day [24]

Initiating randomization..


เวร OFM เดือนมิถุนายน

    Day  Year       Name    Fix
0     1  Int3  ภาณุวัฒน์    Med
15    4  Int3      ภาสกร  Ortho
16    5  Int2   ปารินทร์  Ortho
19    8  Int3    เอนกโชค    Ped
20   10  Int3      ณัชชา    Ped
21   11  Int2     ชญานิศ    Ped
22   12  Int2       นภสร    Ped
23   15  Int2   ณิชารีย์    Ped
24   17  Int2     ปภาวดี    Ped
31   18  Int3     นัทธมน    Eye
32   19  Int3   ณัฐภัสสร    Eye
33   22  Int2    พิชชาภา    Eye
35   24  Int2    สรศักย์    ENT
43   25  Int3   บุญฤทธิ์  X-ray
44   26  Int3   พุฒิพงศ์  X-ray
45   29  Int2     อภิชญา  Rehab

In [105]:
print('\n updating updated_dict \n')
import copy
updated_dict = copy.deepcopy(old_dict)
if old_dict != {}:
    for i in count_dict:
        if i in updated_dict:
            updated_dict[i]+= 1
        else:
            updated_dict[i] = 1   
elif old_dict == {}:
    updated_dict = count_dict

#  print the counting in updated dict
for key in updated_dict:
    year = df[df.loc[:,'Name'] == key].Year.values
    print('The number of shifts so far..{} {}..x..{}..times'.format(year,key, updated_dict[key]))

 updating updated_dict

The number of shifts so far..['Int2'] นภสร..x..2..times
The number of shifts so far..['Int2'] พิชชาภา..x..2..times
The number of shifts so far..['Int2'] ชญานิศ..x..2..times
The number of shifts so far..['Int2'] สรศักย์..x..2..times
The number of shifts so far..['Int2'] อภิชญา..x..2..times
The number of shifts so far..['Int2'] ณัฐชัย..x..1..times
The number of shifts so far..['Int2'] ณิชารีย์..x..2..times
The number of shifts so far..['Int3'] ภาสกร..x..2..times
The number of shifts so far..['Int3'] บุญฤทธิ์..x..2..times
The number of shifts so far..['Int3'] ภาณุวัฒน์..x..2..times
The number of shifts so far..['Int3'] ณัชชา..x..2..times
The number of shifts so far..['Int3'] นัทธมน..x..2..times
The number of shifts so far..['Int3'] ณัฐภัสสร..x..2..times
The number of shifts so far..['Int3'] เอนกโชค..x..2..times
The number of shifts so far..['Int2'] ปภาวดี..x..2..times
The number of shifts so far..['Int2'] ปารินทร์..x..2..times
The number of shifts so far..['Int3'] พุฒิพงศ์..x..1..times

In [152]:
#  define function to save the current dict (accept string)
# มาแก้

from os import path
import shutil
import pickle

# a+ mode will create file if not already existed.
def save_file(file_name, dict):
    with open(file_name, 'wb') as f:
        pickle.dump(updated_dict, f)
        return 'succesfully rewrite file {}'.format(file_name)

def backup(file_name):
    if path.exists(file_name):
        if path.exists(file_name+'_backup'):
            print('backup already existed, will not overwrite file')
        else:
            print('file exists, creating new file:', file_name+'_backup')
            shutil.copy(file_name, file_name+'_backup')
    else:
        print('file did not exist, will not create backup')
    
def read_count(file_name): 
    with open(file_name, 'rb') as f:
        file = pickle.load(f)    
        f.close()
        for key in file:
            print('The number of shifts so far...{} {}..x..{}..times'.format(df[df.loc[:,'Name'] == key].Year.values,key, file[key]))
        
def read_date(file_name):
    with open(file_name, 'rb') as f:
        file = pickle.load(f)    
        f.close()
        for key in file:
            year = df[df.loc[:,'Name'] == file[key]].Year.values
            print('Day..{}..:..{} {}'.format(key,year ,file[key]))

Day..1..:..['Int3'] นัทธมน
Day..4..:..['Int3'] ภาณุวัฒน์
Day..5..:..['Int2'] นภสร
Day..8..:..['Int3'] ณัฐภัสสร
Day..10..:..['Int3'] บุญฤทธิ์
Day..11..:..['Int3'] ณัชชา
Day..12..:..['Int2'] ปภาวดี
Day..15..:..['Int2'] ณิชารีย์
Day..17..:..['Int2'] อภิชญา
Day..18..:..['Int3'] พุฒิพงศ์
Day..19..:..['Int3'] ภาสกร
Day..22..:..['Int2'] พิชชาภา
Day..24..:..['Int2'] ชญานิศ
Day..25..:..['Int3'] เอนกโชค
Day..26..:..['Int2'] ปารินทร์
Day..29..:..['Int2'] สรศักย์

In [153]:
# save to 2 files(_date and _count) and create backup if intending to overwrite file
# day_name_dict is currently orderred dict -> Change back to normal dict- else not readable
def save_all(month):
    date_file = str(month).lower() + '_date'
    count_file = str(month).lower() + '_count'
    try: 
        print('try saving _date file: {}'.format(date_file))
        backup(date_file)
        save_file(date_file, day_name_dict)
        print('success')
    except: 
        print('failed')
        
    try: 
        print('try saving _count file {}'.format(count_file))
        backup(count_file)
        save_file(counting_file, updated_dict)
        print('success')
    except: 
        print('failed')

#Read both the count and date files -- just enter the month
def read_files(month):
    date_file = str(month).lower() + '_date'
    count_file = str(month).lower() + '_count'
    print('\n reading {} \n'.format(date_file))
    read_date(date_file)
    print('\n reading {} \n'.format(count_file))
    read_count(count_file)

# save_all('june')
read_files('june')

 reading june_date

Day..1..:..['Int3'] นัทธมน
Day..4..:..['Int3'] ภาณุวัฒน์
Day..5..:..['Int2'] นภสร
Day..8..:..['Int3'] ณัฐภัสสร
Day..10..:..['Int3'] บุญฤทธิ์
Day..11..:..['Int3'] ณัชชา
Day..12..:..['Int2'] ปภาวดี
Day..15..:..['Int2'] ณิชารีย์
Day..17..:..['Int2'] อภิชญา
Day..18..:..['Int3'] พุฒิพงศ์
Day..19..:..['Int3'] ภาสกร
Day..22..:..['Int2'] พิชชาภา
Day..24..:..['Int2'] ชญานิศ
Day..25..:..['Int3'] เอนกโชค
Day..26..:..['Int2'] ปารินทร์
Day..29..:..['Int2'] สรศักย์

 reading june_count

The number of shifts so far...['Int2'] นภสร..x..2..times
The number of shifts so far...['Int2'] พิชชาภา..x..2..times
The number of shifts so far...['Int2'] ชญานิศ..x..2..times
The number of shifts so far...['Int2'] สรศักย์..x..2..times
The number of shifts so far...['Int2'] อภิชญา..x..2..times
The number of shifts so far...['Int2'] ณัฐชัย..x..1..times
The number of shifts so far...['Int2'] ณิชารีย์..x..2..times
The number of shifts so far...['Int3'] ภาสกร..x..2..times
The number of shifts so far...['Int3'] บุญฤทธิ์..x..2..times
The number of shifts so far...['Int3'] ภาณุวัฒน์..x..2..times
The number of shifts so far...['Int3'] ณัชชา..x..2..times
The number of shifts so far...['Int3'] นัทธมน..x..2..times
The number of shifts so far...['Int3'] ณัฐภัสสร..x..2..times
The number of shifts so far...['Int3'] เอนกโชค..x..2..times
The number of shifts so far...['Int2'] ปภาวดี..x..2..times
The number of shifts so far...['Int2'] ปารินทร์..x..2..times
The number of shifts so far...['Int3'] พุฒิพงศ์..x..1..times